<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'header.html' %}
    <title>Create Bug</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_bug.css') }}">
</head>
<body>
    <div class="welcome">
        <h1>Welcome, {{this_user.first_name}}!</h1>
    </div>
    <div class="create_bug">
        <form action="/bugs/create", method="post">
            <h1>New Bug</h1>
            {% with messages = get_flashed_messages(category_filter = ['bug']) %}
                {% if messages %}
                    <div id="popup">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                        <button onclick="popup.remove()">Okay</button>
                    </div>
                {% endif %}
            {% endwith %}
            <input type="hidden" name="user_id" value={{session.user_id}}>
            <label>
                <h3>Bug Title:</h3> 
                <input type="text" name="title">
            </label>
            <label>
                <h3>Description:</h3>
                <textarea name="description" cols="30" rows="10" placeholder="Add Description"></textarea>
            </label>
            <label for="status">
                <h3>Status Level:</h3>
            </label>
                <select name="status">
                    <option value="Open">Open</option>
                    <option value="In-Progress">In-Progress</option>
                    <option value="Closed">Closed</option>
                </select>
            
            <label for="priority">
                <h3>Priority:</h3>
            </label>
                <select name="priority">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            <label>
                <h3>Date:</h3>
                <input type="date" name="date">
            </label>
            <div></div>
            <input class="submit" type="submit" value="Create">
        </form>
    </div>
</body>
</html>