<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "header.html" %}
    <title>Edit Bug</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_bug.css') }}">
</head>
<body>
    <div class="welcome">
        
    </div>
    <div class="edit_bug">
        <form action="/bugs/update", method = 'post'>
            <h1>Edit Bug</h1>
            {% with messages = get_flashed_messages(category_filter = ['bug']) %}
                {% if messages %}
                    <div id="popup">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                        <button onclick="popup.remove()">Okay</button>
                    </div>
                {% endif %}
            {% endwith %}
            <input type="hidden" name="project_id" value={{session.project_id}}>
            <input type="hidden" name="bug.id" value={{this_bug.id}}>
            <label>
                <h3>Bug Title:</h3> 
                <input type="text" name="title" value={{this_bug.title}}>
            </label>
            <label>
                <h3>Description:</h3>
                <textarea name="description" cols="30" rows="10">{{this_bug.description}}</textarea>
            </label>
            <label for="status">
                <h3>Status Level:</h3>
            </label>
                <select name="status" value={{this_bug.status}}>
                    <option value="Open">Open</option>
                    <option value="In-Progress">In-Progress</option>
                    <option value="Closed">Closed</option>
                </select>
            
            <label for="priority">
                <h3>Priority:</h3>
            </label>
                <select name="priority" value={{this_bug.priority}}>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            <label>
                <h3>Date:</h3>
                <input type="date" name="date" value={{this_bug.date}}>
            </label>
            <div></div>
            <input class="submit" type="submit" value="Update">
        </form>
    </div>
</body>
</html>