<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <div class="header">
        <h1>Bug<span>Tracker</span></h1>
        <div class="nav-links">
            {% if 'user_id' not in session %}
                <a href="/">Login</a>
            {% endif %}
            {% if 'user_id' in session %}
            <a href="/bugs/create">Create Bug</a> |
            <a href="/users/logout">Logout</a>
            {% endif %}
        </div>
    </div>
</body>
</html>