<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "header.html" %}
    <title>Bug Tracker Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
    <div class="welcome">
        <h1>Welcome, {{this_user.first_name}}!</h1>
    </div>
    <div class="bugs-list">
        <h2>Bug List:</h2>
        {% for bug in this_user.bugs %}
            {% if bug.status == 'In-Progress' %}
                <div class="bugs">
                    <div class="title">
                        <h3>{{bug.title}}</h3>
                    </div>
                    <div class="bug-info">
                        <p>Status: {{bug.status}}
                            <span>Priority: {{bug.priority}}</span>
                            <span>Date: {{bug.date}}</span>
                        </p>
                        <p>Description: {{bug.description}}</p>
                    </div>
                    <div class="links">
                        <a href="/bugs/edit/{{bug.id}}">Edit</a> |
                        <a href="/bugs/delete/{{bug.id}}">Delete</a>
                    </div>
                </div>
            {% endif %}
            {% if bug.status == 'Open' %}
                <div class="bugs">
                    <div class="title">
                        <h3>{{bug.title}}</h3>
                    </div>
                    <div class="bug-info">
                        <p>Status: {{bug.status}}
                            <span>Priority: {{bug.priority}}</span>
                            <span>Date: {{bug.date}}</span>
                        </p>
                        <p>Description: {{bug.description}}</p>
                    </div>
                    <div class="links">
                        <a href="/bugs/edit/{{bug.id}}">Edit</a> |
                        <a href="/bugs/delete/{{bug.id}}">Delete</a>
                    </div>
                </div>
            {% endif %}
            {% if bug.status == 'Closed' %}
                <div class="bugs">
                    <div class="title">
                        <h3>{{bug.title}}</h3>
                    </div>
                    <div class="bug-info">
                        <p>Status: {{bug.status}}
                            <span>Priority: {{bug.priority}}</span>
                            <span>Date: {{bug.date}}</span>
                        </p>
                        <p>Description: {{bug.description}}</p>
                    </div>
                    <div class="links">
                        <a href="/bugs/edit/{{bug.id}}">Edit</a> |
                        <a href="/bugs/delete/{{bug.id}}">Delete</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>